.maps {
}

.maps__title {
    padding-top: 10px;
	font-weight: 700;
	font-size: 24px;
}
.maps__title_two {
    padding-top: 10px;
	font-weight: 700;
	font-size: 24px;
}


.maps__text {
	margin-bottom: 14px;
	font-size: 16px;
	line-height: 1.85; /* 29.6px */
	opacity: 0.8;
}

.maps__grid {
	padding: 15px;
}